name: Tests + Coverage

on:
  pull_request:
    branches: [ main, master ]
  push:
    branches: [ main, master ]

jobs:
  test:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      pull-requests: write
      checks: write

    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v1

      - run: bun install

      - name: Run Jest
        run: bun test --coverage --ci --json --outputFile=jest-results.json

      - name: Upload Jest test report to GitHub
        uses: dorny/test-reporter@v1
        with:
          name: Jest Tests
          path: jest-results.json
          reporter: jest-json

      - name: Upload coverage
        uses: actions/upload-artifact@v4
        with:
          name: coverage
          path: coverage/
